body {
  text-align: center;
  background-color: #0d1282;
  font-family: "Press Start 2P";
}

header {
  margin: 2%;
  margin-bottom: 1%;
  align-content: center;
  text-align: center;
}

footer {
  color: #eeeded;
  font-family: "Press Start 2P";
  font-size: 1.5em;
  margin: 15px;
}

#level-title {
  font-family: "Press Start 2P";
  font-size: 2.5em;
  color: #f0de36;
  line-height: 125%;
  margin-bottom: 0;
  text-align: center;
  padding: 0;
}

.start-button {
  background-color: #d71313d5;
  border: solid #f0de36;
  border-radius: 40%;
  height: 6.4em;
  object-fit: contain;
  align-content: center;
}

#start-icon {
  height: 6.4em;
  margin: 0;
  padding: 0;
  border-radius: 40%;
}

.container {
  display: block;
  width: 80%;
  margin: auto;
}

.btn {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-color: #eeeded;
  border: 5px solid #f0de36;
  border-radius: 30%;
  margin: 10px;
}

#instructions {
  align-content: center;
  color: #0d1282;
  font-family: "Noto Serif";
  font-size: 1em;
  border: 2px solid #f0de36;
  border-radius: 50%;
  padding: 5px;
  margin: 0;
}

#description {
  display: none;
  text-align: justify;
  font-family: "Noto Serif";
  font-size: 1em;
  background-color: #d71313af;
  color: #eeeded;
  border: 4px solid #f0de36;
  border-radius: 5%;
  padding: 5%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#guitar {
  background-image: url("images/guitar.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#bell {
  background-image: url("images/bell.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#drum {
  background-image: url("images/drum.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#flute {
  background-image: url("images/flute.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#horn {
  background-image: url("images/horn.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#kalimba {
  background-image: url("images/kalimba.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.game-over {
  background-color: #d71313dc;
  opacity: 50%;
}

.bold-text {
  font-weight: bold;
}

@media all and (max-width: 920px) {
  #flute {
    display: none;
  }

  #bell {
    display: none;
  }
  .row {
    display: inline-flex;
    align-content: stretch;
    width: 100%;
    margin: 5%;
    align-content: stretch;
    gap: 5%;
  }

  .btn {
    height: 200px;
    width: 200px;
  }
}
